@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "farsi-iransans";
  src: url("./assets/fonts/A-Iranian-Sans/Iranian\ Sans.ttf");
}
@font-face {
  font-family: "english-opensans";
  src: url("./assets/fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

#root{
  font-family: "farsi-iransans","english-opensans";
}